---

---

<header class='bg-white shadow-md py-4'>
	<nav class='container mx-auto flex justify-between items-center px-4'>
		<a href='/' class='text-2xl font-bold text-indigo-600'>Mi Blog Astro</a>
		<ul class='flex space-x-4'>
			<li><a href='/' class='text-gray-700 hover:text-indigo-600'>Inicio</a></li>
			<li><a href='/acerca' class='text-gray-700 hover:text-indigo-600'>Acerca de</a></li>
			<li><a href='/contacto' class='text-gray-700 hover:text-indigo-600'>Contacto</a></li>
		</ul>
	</nav>
</header>
